// Fonts
$font-size: 18px;


// Page sizes
$container-width: 1000px;
$input-height: 48px;
$main-header-height: 60px;


// Colors
$blue-dark: #033549;
$blue: #0AB2F5;
$orange: #F54D0A;
$green: #025f02;