@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 500;
  src: url("@/assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: 'exo';
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/exo/Exo2-Regular.ttf") format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: 'exo';
  font-style: italic;
  font-weight: 400;
  src: url("@/assets/fonts/exo/Exo2-Italic.ttf") format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: 'exo';
  font-style: normal;
  font-weight: 500;
  src: url("@/assets/fonts/exo/Exo2-SemiBold.ttf") format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: 'exo';
  font-style: italic;
  font-weight: 500;
  src: url("@/assets/fonts/exo/Exo2-SemiBoldItalic.ttf") format("truetype");
  font-display: fallback;
}