%crypto-icon {
  background-image: url('~/assets/icons/crypto_white.svg') !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}